In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import babel.numbers
import locale

In [2]:
demographics_nash = pd.read_excel("data/demographics.xlsx", skiprows = 1, header=[0, 1], sheet_name = 0)

In [3]:
demographics_nash.head()

  Unnamed: 0_level_0 United States        Tennessee        37013        37015  \
  Unnamed: 0_level_1         Value  Error     Value Error  Value Error  Value
0             Total:     324697795      0   6709356     0  97939  2456  17665
1              Male:     159886919   5817   3273278  1507  47658  1617   9112
2      Under 5 years      10112614   3826    208598   796   4550   514    527
3       5 to 9 years      10276829  16598    209037  2400   3786   510    681
4     10 to 14 years      10708022  16572    219974  2346   3656   554    604

         37027  ...  37221       37228       37240       37243       37246  \
  Error  Value  ...  Value Error Value Error Value Error Value Error Value
0   734  56117  ...  41017  1119  1615   363   796   147     0    12     0
1   483  27888  ...  19437   767   708   284   332    87     0    12     0
2   138   1561  ...   1508   289     0    12     0    12     0    12     0
3   159   2093  ...   1354   231     0    12     0    12     0    12     0
4   137   2511  ...   1002   214     0    12     0    12     0    12     0


  Error
0    12
1    12
2    12
3    12
4    12

[5 rows x 89 columns]

In [4]:
demographics_nash = demographics_nash[demographics_nash.columns.drop(list(demographics_nash.filter(regex='Error')))]

In [5]:
demographics_nash.columns = demographics_nash.columns.droplevel(1)

In [6]:
demographics_nash

,Unnamed: 0_level_0,United States,Tennessee,37013,37015,37027,37062,37064,37072,37073,...,37216,37217,37218,37219,37220,37221,37228,37240,37243,37246
0,Total:,324697795,6709356,97939,17665,56117,12185,58937,31492,14785,...,17848,30146,15721,1154,5880,41017,1615,796,0,0
1,Male:,159886919,3273278,47658,9112,27888,5990,27951,15327,7373,...,8877,15018,7083,737,2994,19437,708,332,0,0
2,Under 5 years,10112614,208598,4550,527,1561,232,1803,881,440,...,435,1348,324,0,315,1508,0,0,0,0
3,5 to 9 years,10276829,209037,3786,681,2093,349,1838,1131,697,...,421,1035,462,0,283,1354,0,0,0,0
4,10 to 14 years,10708022,219974,3656,604,2511,536,2229,950,569,...,240,704,441,0,177,1002,0,0,0,0
5,15 to 17 years,6429069,131597,1727,371,1771,362,1232,529,315,...,190,487,391,0,77,730,0,0,0,0
6,18 and 19 years,4411135,86975,1107,203,673,251,790,301,272,...,242,432,166,0,20,294,28,181,0,0
7,20 years,2352092,47118,210,111,179,171,475,195,76,...,17,102,26,0,0,111,16,108,0,0
8,21 years,2303286,46308,620,27,263,67,210,312,0,...,60,136,55,0,0,104,4,43,0,0
9,22 to 24 years,6639841,132886,2842,393,1177,293,743,497,210,...,316,533,160,201,22,874,200,0,0,0
10,25 to 29 years,11737463,237180,4329,621,1154,342,1169,968,438,...,1230,2017,452,96,66,1668,94,0,0,0
11,30 to 34 years,11073985,214566,4366,639,1012,196,1501,1468,391,...,883,1169,583,34,210,1488,77,0,0,0
12,35 to 39 years,10520984,208154,3969,591,1428,386,2224,795,585,...,973,1348,394,59,257,1331,17,0,0,0
13,40 to 44 years,9904665,205669,3337,445,2181,415,1824,584,477,...,572,1085,515,89,137,1239,0,0,0,0
14,45 to 49 years,10257989,216500,3512,571,2122,490,2122,1091,531,...,642,1311,317,42,111,1395,28,0,0,0
15,50 to 54 years,10494113,217556,2778,629,1916,412,2099,867,477,...,659,757,475,35,275,1388,0,0,0,0
16,55 to 59 years,10510995,214036,2260,712,2070,441,1980,963,567,...,477,723,471,19,212,1157,13,0,0,0
17,60 and 61 years,4058895,83519,774,349,829,148,823,582,199,...,198,325,149,37,131,524,32,0,0,0
18,62 to 64 years,5576339,118982,913,319,1156,184,1126,662,174,...,318,312,447,50,111,640,0,0,0,0
19,65 and 66 years,3382330,73646,764,163,459,96,684,521,125,...,187,129,275,56,114,427,35,0,0,0
20,67 to 69 years,4562962,99784,532,316,1046,200,802,638,126,...,224,308,169,19,119,411,26,0,0,0
21,70 to 74 years,5857722,126648,829,326,1062,172,943,570,303,...,217,356,318,0,99,781,48,0,0,0
22,75 to 79 years,3984034,86059,401,296,604,130,610,339,229,...,179,297,291,0,125,449,13,0,0,0
23,80 to 84 years,2533303,50375,293,133,302,89,431,224,138,...,126,47,118,0,102,321,0,0,0,0
24,85 years and over,2198252,38111,103,85,319,28,293,259,34,...,71,57,84,0,31,241,77,0,0,0
25,Female:,164810876,3436078,50281,8553,28229,6195,30986,16165,7412,...,8971,15128,8638,417,2886,21580,907,464,0,0
26,Under 5 years,9655056,197840,4016,448,1471,318,1861,919,460,...,618,1067,536,0,217,1077,26,0,0,0
27,5 to 9 years,9880648,200705,3661,363,2030,390,2147,827,464,...,373,1040,345,0,89,1031,3,0,0,0
28,10 to 14 years,10219256,211097,3199,464,2131,471,1988,739,564,...,203,827,349,0,176,954,0,0,0,0
29,15 to 17 years,6147898,126072,1890,358,1632,339,1390,607,352,...,228,425,486,0,51,584,0,0,0,0
30,18 and 19 years,4220084,81817,1243,96,507,146,623,392,143,...,79,217,143,0,99,223,56,323,0,0
31,20 years,2212618,44576,318,105,210,34,319,172,39,...,83,186,26,0,0,194,16,88,0,0
32,21 years,2170437,45178,533,95,226,126,149,57,60,...,82,124,30,0,0,302,0,38,0,0
33,22 to 24 years,6336834,132185,2226,229,1057,322,926,304,226,...,300,903,243,0,76,646,34,15,0,0
34,25 to 29 years,11331857,239613,4877,510,879,243,1724,1454,591,...,1026,1567,630,39,45,1818,199,0,0,0
35,30 to 34 years,10887110,220386,5966,574,1264,369,1714,1118,400,...,1108,1583,504,67,194,1756,81,0,0,0
36,35 to 39 years,10550321,216950,4434,669,1769,394,1867,871,432,...,783,1176,567,32,311,1334,39,0,0,0
37,40 to 44 years,10002861,207468,2978,470,1958,410,2181,817,441,...,500,898,674,0,160,1326,32,0,0,0
38,45 to 49 years,10469781,222848,2968,475,2496,490,2353,921,590,...,467,950,653,0,143,1649,11,0,0,0
39,50 to 54 years,10850737,229902,2899,752,2043,440,2232,1419,528,...,475,860,605,170,255,1557,95,0,0,0
40,55 to 59 years,11143260,237175,2785,825,2311,391,2365,1283,479,...,725,862,454,0,231,1871,47,0,0,0
41,60 and 61 years,4370261,91565,1236,185,770,182,998,594,160,...,183,445,333,0,138,468,17,0,0,0
42,62 to 64 years,6096664,130200,1286,331,1086,247,1166,379,321,...,431,420,291,70,148,921,0,0,0,0
43,65 and 66 years,3743900,78823,871,280,786,122,798,403,134,...,202,269,305,0,47,591,46,0,0,0
44,67 to 69 years,5151607,112465,757,266,892,191,731,668,149,...,276,551,366,39,80,704,121,0,0,0
45,70 to 74 years,6843745,152048,1019,480,1145,197,1279,814,339,...,243,265,385,0,78,903,31,0,0,0
46,75 to 79 years,4929902,106536,571,256,748,217,816,596,290,...,183,291,352,0,141,815,17,0,0,0
47,80 to 84 years,3525274,74070,315,212,538,106,590,333,120,...,198,149,178,0,79,494,21,0,0,0
48,85 years and over,4070765,76559,233,110,280,50,769,478,130,...,205,53,183,0,128,362,15,0,0,0

In [7]:
demographics_nash = demographics_nash.set_index('Unnamed: 0_level_0').T.reset_index().rename({"index": "zipcode"}, axis = 1)

In [8]:
demographics_nash

Unnamed: 0_level_0,zipcode,Total:,Male:,Under 5 years,5 to 9 years,10 to 14 years,15 to 17 years,18 and 19 years,20 years,21 years,...,50 to 54 years,55 to 59 years,60 and 61 years,62 to 64 years,65 and 66 years,67 to 69 years,70 to 74 years,75 to 79 years,80 to 84 years,85 years and over
0,United States,324697795,159886919,10112614,10276829,10708022,6429069,4411135,2352092,2303286,...,10850737,11143260,4370261,6096664,3743900,5151607,6843745,4929902,3525274,4070765
1,Tennessee,6709356,3273278,208598,209037,219974,131597,86975,47118,46308,...,229902,237175,91565,130200,78823,112465,152048,106536,74070,76559
2,37013,97939,47658,4550,3786,3656,1727,1107,210,620,...,2899,2785,1236,1286,871,757,1019,571,315,233
3,37015,17665,9112,527,681,604,371,203,111,27,...,752,825,185,331,280,266,480,256,212,110
4,37027,56117,27888,1561,2093,2511,1771,673,179,263,...,2043,2311,770,1086,786,892,1145,748,538,280
5,37062,12185,5990,232,349,536,362,251,171,67,...,440,391,182,247,122,191,197,217,106,50
6,37064,58937,27951,1803,1838,2229,1232,790,475,210,...,2232,2365,998,1166,798,731,1279,816,590,769
7,37072,31492,15327,881,1131,950,529,301,195,312,...,1419,1283,594,379,403,668,814,596,333,478
8,37073,14785,7373,440,697,569,315,272,76,0,...,528,479,160,321,134,149,339,290,120,130
9,37075,65986,31603,2188,2046,2242,1619,819,184,478,...,2466,2288,725,1406,843,1018,1398,874,663,725
10,37076,40161,19600,1457,1273,1063,543,307,131,210,...,1200,1380,704,551,400,484,850,477,524,296
11,37080,7394,3703,175,110,163,85,63,17,6,...,324,490,73,162,56,192,135,115,64,81
12,37082,6073,3013,131,162,155,170,132,91,12,...,187,301,101,186,82,68,73,84,66,35
13,37086,34429,17045,1696,1296,1640,955,407,207,203,...,1189,897,311,482,310,240,311,205,131,51
14,37115,40343,19376,1486,1509,1311,577,368,227,271,...,1264,1362,553,657,497,691,741,405,484,444
15,37122,58323,29256,2071,2177,2445,1295,609,256,331,...,2020,2011,705,1138,772,976,1251,654,464,289
16,37135,14256,6919,627,536,553,294,202,54,106,...,388,414,170,285,95,111,148,130,26,59
17,37138,23784,11320,609,476,900,513,323,192,42,...,964,905,434,403,299,602,438,316,231,193
18,37143,4167,2050,127,96,113,114,47,24,30,...,260,115,69,30,32,65,106,66,59,21
19,37189,4016,1642,104,46,142,54,16,0,0,...,159,177,83,79,87,47,134,27,47,54
20,37201,1619,1245,0,0,30,0,94,14,72,...,22,38,0,86,34,0,0,0,0,0
21,37203,15091,7412,245,206,60,110,149,82,211,...,278,334,65,147,127,79,122,110,49,39
22,37204,15452,6908,634,272,256,127,434,172,108,...,423,361,177,193,126,164,188,144,54,75
23,37205,23790,10824,484,528,475,245,176,155,118,...,768,1018,409,497,363,578,650,452,437,741
24,37206,26382,12473,844,835,664,365,387,200,113,...,701,751,223,383,172,172,357,228,164,112
25,37207,39544,17866,1600,1433,1368,762,517,80,105,...,1587,1481,442,598,344,601,636,531,343,429
26,37208,18011,7917,456,242,797,350,247,207,93,...,515,481,242,328,249,248,186,99,133,150
27,37209,38664,18251,1037,1122,1040,456,494,206,435,...,868,1000,246,585,236,400,423,419,233,223
28,37210,17248,8731,934,497,615,200,364,162,212,...,337,579,250,177,110,183,231,202,158,196
29,37211,75955,39340,2821,2268,1998,1424,594,632,604,...,1684,2522,711,751,642,982,894,663,555,623
30,37212,20803,9757,375,226,323,332,1424,579,468,...,354,446,220,157,179,103,188,101,80,232
31,37213,95,86,0,0,0,10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,37214,30528,14968,683,901,929,431,294,58,136,...,1206,1242,234,545,257,413,507,552,298,420
33,37215,22379,9989,607,534,460,253,179,33,165,...,779,848,460,427,323,351,698,520,351,584
34,37216,17848,8877,435,421,240,190,242,17,60,...,475,725,183,431,202,276,243,183,198,205
35,37217,30146,15018,1348,1035,704,487,432,102,136,...,860,862,445,420,269,551,265,291,149,53
36,37218,15721,7083,324,462,441,391,166,26,55,...,605,454,333,291,305,366,385,352,178,183
37,37219,1154,737,0,0,0,0,0,0,0,...,170,0,0,70,0,39,0,0,0,0
38,37220,5880,2994,315,283,177,77,20,0,0,...,255,231,138,148,47,80,78,141,79,128
39,37221,41017,19437,1508,1354,1002,730,294,111,104,...,1557,1871,468,921,591,704,903,815,494,362
40,37228,1615,708,0,0,0,0,28,16,4,...,95,47,17,0,46,121,31,17,21,15
41,37240,796,332,0,0,0,0,181,108,43,...,0,0,0,0,0,0,0,0,0,0
42,37243,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,37246,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
building_permits = pd.read_csv('data/Building_Permits_Issued.csv')

C:\Users\Cristian\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [10]:
building_permits.head()

,permit#,permit_type_description,permit_subtype_description,parcel,date_entered,date_issued,construction_cost,address,city,state,zip,subdivision/lot,contact,permit_type,permit_subtype,IVR_tracking#,purpose,council_district,census_tract,mapped_location
0,2021021204,Building Residential - New,Single Family Residence,7112039200,4/7/2021,5/5/2021,292188.0,1807 JOY CIR,NASHVILLE,TN,3720.0,LOT 54 JOYWOOD SUB,HARP DEVELOPMENT LLC,CARN,CAA01R301,3963014,to construct a single family residence with 24...,5.0,37011300.0,"1807 JOY CIR\nNASHVILLE, TN 03720\n(36.202582,..."
1,2021027119,Building Sign Permit,Sign - Ground / Wall Signs,10701000100,4/30/2021,5/5/2021,5000.0,1717 ELM HILL PIKE,NASHVILLE,TN,37210.0,LOT 44 REV SEC 36 & 19 METRO IND PARK,BOOM SIGN AND LIGHTING,CASN,CAZ02A001,3976785,to erect 57SF illuminated monument sign for Th...,15.0,37019600.0,"1717 ELM HILL PIKE\nNASHVILLE, TN 37210\n(36.1..."
2,2021019617,Building Demolition Permit,Demolition Permit - Commercial,10509010400,4/1/2021,5/5/2021,19000.0,1407 CALDWELL AVE,NASHVILLE,TN,37212.0,LOT 47 BLAKEMORE SUB LAWRENCE & PT CLSD R.O.W.,DEM TEC INC,CADM,CAZ01A002,3959330,to demolish existing structure. RM20 Zoning. ...,18.0,37017000.0,"1407 CALDWELL AVE\nNASHVILLE, TN 37212\n(36.13..."
3,2021008837,Building Commercial - Rehab,"Automobile Sales, Used",2612000400,2/10/2021,5/5/2021,1010013.0,2353 GALLATIN PIKE N,MADISON,TN,37115.0,LOT 1 CARMAX AUTO SUPERSTORE,"GRACE, THOMAS CONSTRUCTION INC",CACR,CAF26S001,3924533,Rehab existing CARMAX. Architectural - Partial...,10.0,37010401.0,"2353 GALLATIN PIKE N\nMADISON, TN 37115\n(36.3..."
4,2021018673,Building Sign Permit,Sign - Ground / Wall Signs,9100004700,3/29/2021,5/5/2021,5400.0,4717 CENTENNIAL BLVD,NASHVILLE,TN,37209.0,S/S JOHN A. MERRITT BV E OF 49TH AVE NO,BOZMAN SIGN CO INC,CASN,CAZ02A001,3956834,"Install a 56 SF illuminated wall sign, BROADST...",20.0,37013300.0,"4717 CENTENNIAL BLVD\nNASHVILLE, TN 37209\n(36..."

In [11]:
building_permits.drop(columns=['parcel', 'IVR_tracking#', 'census_tract', 'mapped_location'])

,permit#,permit_type_description,permit_subtype_description,date_entered,date_issued,construction_cost,address,city,state,zip,subdivision/lot,contact,permit_type,permit_subtype,purpose,council_district
0,2021021204,Building Residential - New,Single Family Residence,4/7/2021,5/5/2021,292188.0,1807 JOY CIR,NASHVILLE,TN,3720.0,LOT 54 JOYWOOD SUB,HARP DEVELOPMENT LLC,CARN,CAA01R301,to construct a single family residence with 24...,5.0
1,2021027119,Building Sign Permit,Sign - Ground / Wall Signs,4/30/2021,5/5/2021,5000.0,1717 ELM HILL PIKE,NASHVILLE,TN,37210.0,LOT 44 REV SEC 36 & 19 METRO IND PARK,BOOM SIGN AND LIGHTING,CASN,CAZ02A001,to erect 57SF illuminated monument sign for Th...,15.0
2,2021019617,Building Demolition Permit,Demolition Permit - Commercial,4/1/2021,5/5/2021,19000.0,1407 CALDWELL AVE,NASHVILLE,TN,37212.0,LOT 47 BLAKEMORE SUB LAWRENCE & PT CLSD R.O.W.,DEM TEC INC,CADM,CAZ01A002,to demolish existing structure. RM20 Zoning. ...,18.0
3,2021008837,Building Commercial - Rehab,"Automobile Sales, Used",2/10/2021,5/5/2021,1010013.0,2353 GALLATIN PIKE N,MADISON,TN,37115.0,LOT 1 CARMAX AUTO SUPERSTORE,"GRACE, THOMAS CONSTRUCTION INC",CACR,CAF26S001,Rehab existing CARMAX. Architectural - Partial...,10.0
4,2021018673,Building Sign Permit,Sign - Ground / Wall Signs,3/29/2021,5/5/2021,5400.0,4717 CENTENNIAL BLVD,NASHVILLE,TN,37209.0,S/S JOHN A. MERRITT BV E OF 49TH AVE NO,BOZMAN SIGN CO INC,CASN,CAZ02A001,"Install a 56 SF illuminated wall sign, BROADST...",20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34283,2020076228,Building Commercial - Rehab,"General Office, Professional Services",12/7/2020,3/18/2021,20000.0,1513 16TH AVE S,NASHVILLE,TN,37212.0,LOT 2 O B HAYES ROKEBY ADDITION RESUB PT LOTS ...,"STACKER BUILDING GROUP, LLC",CACR,CAD02B016,partial demo of rear wall and finish \nPOC HAM...,17.0
34284,2020030131,Building Commercial - New,"Leasing / Sales Office, Other",5/13/2020,9/30/2020,201675.0,1825 PEARL ST,NASHVILLE,TN,37203.0,LOT 14 POWER SUB,"DUNAWAY CONSTRUCTION, LLC",CACN,CAD03B000,To locate a temporary 24 x 68 modular medical ...,21.0
34285,2020074858,Building Demolition Permit,Demolition Permit - Residential,12/1/2020,12/21/2020,10000.0,1611 MARTIN ST,NASHVILLE,TN,37203.0,W SIDE MARTIN ST N OF SOUTHGATE AVE,PALMETTO CONSTRUCTION LLC,CADM,CAZ01A001,to demolish existing single family residence. ...,17.0
34286,2019055245,Building Commercial - Tenant Finish Out,"Multifamily, Tri-Plex, Quad, Apartments",9/12/2019,6/25/2020,1054674.0,805 DIVISION ST,NASHVILLE,TN,37203.0,LOT 1 EDGEHILL EST SEC 65 CONSOLIDATION OF LOT...,"HOAR CONSTRUCTION, LLC",CACT,CAA03R398,Phase 22 17 apartments for VANTAGE GULCH\nLe...,19.0
34287,2018017087,Building Residential - Tenant Finish Out,Single Family Residence,3/27/2018,10/4/2018,93521.0,1224 2ND AVE S 201,NASHVILLE,TN,37210.0,UNIT 2A 1224 2ND AVENUE SOUTH,HIGHLAND HOMES LLC,CART,CAA01R301,THIS PERMIT TO FINISH OUT APPROX 1900 SQFT FOR...,17.0

In [12]:
building_permits['permit_type_description'].value_counts()

Building Residential - New                  13024
Building Residential - Addition              3321
Building Commercial - Rehab                  3039
Building Residential - Rehab                 3026
Building Demolition Permit                   2788
Building Sign Permit                         2384
Building Use & Occupancy                     1611
Building Commercial - Tenant Finish Out      1534
Building Commercial - New                    1180
Building Tree Removal Permit                  501
Building Residential Rehab Storm Damage       232
Building Residential - Roofing / Siding       206
Building Commercial - Shell                   201
Building Commercial - Addition                182
Building Commercial - Roofing / Siding        172
Building Commercial - Foundation              162
Building Commercial Rehab Storm Damage        136
Building Residential - Tenant Finish Out       89
Building Demolition Storm Damage               88
Building Residential New Storm Damage          83
Building Residential - Change Contractor       71
Building Residential - Fire Damage             61
Building Commercial New Storm Damage           34
Building Commercial - Structural Frame         32
Building Commercial - Fire Damage              31
Building Residential - Amend Permit            29
Building Blasting Permit                       28
Building Commercial - Change Contractor        22
Building Moving Permit                         15
Building Residential - Foundation               3
Building Residential - Shell                    2
Temporary Building Use & Occupancy              1
Name: permit_type_description, dtype: int64

In [13]:
building_permits['permit_subtype_description'].value_counts()

Single Family Residence                  14871
Demolition Permit - Residential           2374
Sign - Ground /  Wall Signs               2270
Multifamily, Townhome                     1838
General Office, Professional Services     1220
                                         ...
Mineral Extraction                           1
Comm. Amusement (Out), Bleachers             1
Hotel / Motel, Banquet Halls                 1
Recreation Center, Exhibition Halls          1
College / University, Banquet Halls          1
Name: permit_subtype_description, Length: 178, dtype: int64

In [14]:
building_permits['zip'].value_counts()

37209.0    3856
37013.0    3401
37203.0    2456
37206.0    2294
37207.0    2257
37208.0    1973
37211.0    1903
37205.0    1344
37215.0    1326
37076.0    1274
37214.0    1194
37216.0    1156
37115.0    1067
37212.0    1042
37210.0    1002
37221.0     957
37204.0     893
37138.0     793
37217.0     716
37027.0     569
37218.0     564
37135.0     561
37201.0     354
37219.0     263
37220.0     212
37228.0     199
37080.0     187
37072.0     160
37189.0     131
37213.0      57
37086.0      27
37122.0      25
37143.0      18
0.0          13
37015.0      13
37238.0      11
37064.0      10
37232.0       4
301.0         1
27218.0       1
37202.0       1
3720.0        1
37127.0       1
Name: zip, dtype: int64

In [15]:
building_permits['date_entered'].value_counts()

8/21/2019     99
2/25/2020     98
9/28/2020     96
12/3/2020     90
10/27/2020    85
              ..
1/17/2018      1
9/19/2017      1
6/12/2017      1
7/20/2019      1
9/27/2020      1
Name: date_entered, Length: 1073, dtype: int64

In [16]:
building_permits.dtypes

permit#                        object
permit_type_description        object
permit_subtype_description     object
parcel                         object
date_entered                   object
date_issued                    object
construction_cost             float64
address                        object
city                           object
state                          object
zip                           float64
subdivision/lot                object
contact                        object
permit_type                    object
permit_subtype                 object
IVR_tracking#                   int64
purpose                        object
council_district              float64
census_tract                  float64
mapped_location                object
dtype: object

In [17]:
#building_permits = pd.building_permits({"permit_type_description":["Building Residential - New"], "permit_subtype_description":['Single Family Residence','Multifamily, Townhome']})
#building_permits.permit_type_description = building_permits.permit_type_descriptio.astype("list")
#building_permits

In [18]:
#dict = {'permit_type_description':["Building Residential - New"]}
  
# converting the dictionary to a dataframe
#building_pemits = pd.building_permits.from_dict(dict)
  
# storing lastname of each person
#building_permits['Single Family Residence'] = building_permits.permit_type_description.str.extract('Building Residential - New', expand = True)

In [19]:
#building_permits.drop(["Building Residential - Addition"], inplace = True)

In [20]:
#residential_permits = building_permits[(building_permits.permit_type_description= 'Building Residential - New')]

In [21]:
#residential_building= building_permits[building_permits.permit_type_description != 'Building Residential - Addition']
#residential_building

In [22]:
residential_permits = building_permits[building_permits['permit_type_description'] == 'Building Residential - New']
residential_permits

,permit#,permit_type_description,permit_subtype_description,parcel,date_entered,date_issued,construction_cost,address,city,state,zip,subdivision/lot,contact,permit_type,permit_subtype,IVR_tracking#,purpose,council_district,census_tract,mapped_location
0,2021021204,Building Residential - New,Single Family Residence,7112039200,4/7/2021,5/5/2021,292188.0,1807 JOY CIR,NASHVILLE,TN,3720.0,LOT 54 JOYWOOD SUB,HARP DEVELOPMENT LLC,CARN,CAA01R301,3963014,to construct a single family residence with 24...,5.0,37011300.0,"1807 JOY CIR\nNASHVILLE, TN 03720\n(36.202582,..."
6,2021015956,Building Residential - New,Single Family Residence,051140B01500CO,3/17/2021,5/5/2021,219687.0,732 INSPIRATION BLVD 1,MADISON,TN,37115.0,UNIT 732 UNIT 1 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",CARN,CAA01R301,3949406,to construct 1812Sf single family residence wi...,8.0,37010802.0,"732 INSPIRATION BLVD 1\nMADISON, TN 37115"
12,2021015968,Building Residential - New,Single Family Residence,051140B00900CO,3/17/2021,5/5/2021,219687.0,718 INSPIRATION BLVD,MADISON,TN,37115.0,UNIT 718 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",CARN,CAA01R301,3949437,to construct 1812Sf single family residence wi...,8.0,37010802.0,"718 INSPIRATION BLVD\nMADISON, TN 37115"
17,2021015996,Building Residential - New,Single Family Residence,051140B00600CO,3/17/2021,5/5/2021,174343.0,712 INSPIRATION BLVD,MADISON,TN,37115.0,UNIT 712 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",CARN,CAA01R301,3949515,to construct 1438Sf single family residence wi...,8.0,37010802.0,"712 INSPIRATION BLVD\nMADISON, TN 37115"
20,2021015990,Building Residential - New,Single Family Residence,051140B01600CO,3/17/2021,5/5/2021,174343.0,732 INSPIRATION BLVD 2,MADISON,TN,37115.0,UNIT 732 UNIT 2 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",CARN,CAA01R301,3949506,to construct 1438Sf single family residence wi...,8.0,37010802.0,"732 INSPIRATION BLVD 2\nMADISON, TN 37115"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34273,2020009574,Building Residential - New,Single Family Residence,14900039400,2/12/2020,2/21/2020,202770.0,2396 UNA ANTIOCH PIKE,ANTIOCH,TN,37013.0,LOT 4 2410 UNA ANTIOCH PIKE,"DESTINY ENTERPRISES, LLC",CARN,CAA01R301,3759452,TO CONSTRUCT A SINGLE-FAMILY RESIDENCE WITH 18...,28.0,37015627.0,"2396 UNA ANTIOCH PIKE\nANTIOCH, TN 37013\n(36...."
34274,2019069930,Building Residential - New,Single Family Residence,090084I00100CO,11/14/2019,11/20/2019,190379.0,613 ANNEX AVE,NASHVILLE,TN,37209.0,UNIT A 613 ANNEX AVENUE TOWNHOMES,TIMO6 LLC,CARN,CAA01R301,3732296,"parent parcel is map 90-8 parcel 31, is zoned ...",20.0,37013202.0,"613 ANNEX AVE\nNASHVILLE, TN 37209\n(36.159775..."
34275,2020040538,Building Residential - New,Single Family Residence,116020A01700CO,6/30/2020,9/8/2020,2442157.0,4809 POST RD,NASHVILLE,TN,37205.0,LOT 78 HILL PLACE REV,"Castle Contractors, LLC",CARN,CAA01R301,3844514,New Single Family Residence on Existing Reside...,23.0,37018102.0,"4809 POST RD\nNASHVILLE, TN 37205\n(36.118775,..."
34279,2020079583,Building Residential - New,Single Family Residence,072141Z00100CO,12/22/2020,2/4/2021,230356.0,1622B CAHAL AVE,NASHVILLE,TN,37206.0,UNIT 1622B 1622 CAHAL AVENUE,"APS CONTRACTORS, LLC",CARN,CAA01R301,3908483,"parent parcel is map 72-14 parcel 294, is zone...",7.0,37011400.0,"1622B CAHAL AVE\nNASHVILLE, TN 37206\n(36.1958..."
34280,2019035453,Building Residential - New,Single Family Residence,11604018500,6/14/2019,6/27/2019,563250.0,814 WILSON BLVD,NASHVILLE,TN,37215.0,PT LOT 6 & 7 BLK K W. M. CANTRELL SUB,H R PROPERTIES OF TN LLC,CARN,CAA01R301,3681178,to construct a single family residence with 50...,24.0,37018000.0,"814 WILSON BLVD\nNASHVILLE, TN 37215\n(36.1203..."

In [23]:
residential_permits['date_issued'].value_counts()

5/27/2021    65
5/17/2021    64
9/13/2018    60
3/10/2021    57
6/25/2019    53
             ..
1/24/2021     1
2/16/2021     1
2/28/2021     1
5/9/2020      1
4/18/2021     1
Name: date_issued, Length: 761, dtype: int64

In [24]:
residential_permits = residential_permits.drop(columns=['parcel','permit_type','permit_subtype','IVR_tracking#', 'census_tract', 'mapped_location'])

In [25]:
residential_permits['zip'].value_counts()

37013.0    2248
37209.0    1976
37207.0    1143
37208.0     903
37206.0     769
37076.0     652
37135.0     466
37138.0     464
37216.0     411
37211.0     396
37205.0     338
37215.0     327
37203.0     325
37221.0     320
37115.0     308
37204.0     279
37027.0     253
37218.0     250
37210.0     249
37212.0     247
37214.0     226
37217.0     167
37080.0     115
37072.0      72
37189.0      48
37220.0      42
37064.0       7
37122.0       7
37143.0       6
37015.0       6
37202.0       1
37127.0       1
3720.0        1
27218.0       1
Name: zip, dtype: int64

In [26]:
#residential_permits['zip'] = residential_permits['zip'].astype(float)          
#residential_permits['zip'] = residential_permits['zip'].float.replace('.', ' ')

In [27]:
##residential_permits.drop(["3720.0"], inplace = True)

In [28]:
#residential_permits.drop(residential_permits.index[(residential_permits["zip"] == "3720.0")],axis=9,inplace=true)

In [29]:
#residential_permits[(residential_permits.zip != "3720.0")

In [30]:
#residential_permits.drop(labels=["3720.0", "27218.0"],axis="zip")

In [31]:
residential_permits['zip'] = residential_permits['zip'].astype(int) 
residential_permits['construction_cost'] = residential_permits['construction_cost'].astype(int)          
#residential_permits['zip'] = residential_permits['zip'].int.replace('.0', '')

In [32]:
residential_permits.head()

,permit#,permit_type_description,permit_subtype_description,date_entered,date_issued,construction_cost,address,city,state,zip,subdivision/lot,contact,purpose,council_district
0,2021021204,Building Residential - New,Single Family Residence,4/7/2021,5/5/2021,292188,1807 JOY CIR,NASHVILLE,TN,3720,LOT 54 JOYWOOD SUB,HARP DEVELOPMENT LLC,to construct a single family residence with 24...,5.0
6,2021015956,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,219687,732 INSPIRATION BLVD 1,MADISON,TN,37115,UNIT 732 UNIT 1 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1812Sf single family residence wi...,8.0
12,2021015968,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,219687,718 INSPIRATION BLVD,MADISON,TN,37115,UNIT 718 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1812Sf single family residence wi...,8.0
17,2021015996,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,174343,712 INSPIRATION BLVD,MADISON,TN,37115,UNIT 712 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1438Sf single family residence wi...,8.0
20,2021015990,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,174343,732 INSPIRATION BLVD 2,MADISON,TN,37115,UNIT 732 UNIT 2 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1438Sf single family residence wi...,8.0

In [33]:
residential_permits_dropped = residential_permits.drop(residential_permits.index[0], axis = 0)

In [34]:
residential_permits_dropped.head()

,permit#,permit_type_description,permit_subtype_description,date_entered,date_issued,construction_cost,address,city,state,zip,subdivision/lot,contact,purpose,council_district
6,2021015956,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,219687,732 INSPIRATION BLVD 1,MADISON,TN,37115,UNIT 732 UNIT 1 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1812Sf single family residence wi...,8.0
12,2021015968,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,219687,718 INSPIRATION BLVD,MADISON,TN,37115,UNIT 718 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1812Sf single family residence wi...,8.0
17,2021015996,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,174343,712 INSPIRATION BLVD,MADISON,TN,37115,UNIT 712 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1438Sf single family residence wi...,8.0
20,2021015990,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,174343,732 INSPIRATION BLVD 2,MADISON,TN,37115,UNIT 732 UNIT 2 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1438Sf single family residence wi...,8.0
24,2021015980,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,216535,732 INSPIRATION BLVD 6,MADISON,TN,37115,UNIT 732 UNIT 6 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1786Sf single family residence wi...,8.0

In [35]:
#df.drop(tx_census_age.iloc[23:25,:], axis = 0)

In [36]:
residential_permits_dropped = residential_permits_dropped.reset_index()

In [37]:
residential_permits_dropped = residential_permits_dropped.drop(columns=['index'])

In [38]:
residential_permits_dropped

,permit#,permit_type_description,permit_subtype_description,date_entered,date_issued,construction_cost,address,city,state,zip,subdivision/lot,contact,purpose,council_district
0,2021015956,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,219687,732 INSPIRATION BLVD 1,MADISON,TN,37115,UNIT 732 UNIT 1 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1812Sf single family residence wi...,8.0
1,2021015968,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,219687,718 INSPIRATION BLVD,MADISON,TN,37115,UNIT 718 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1812Sf single family residence wi...,8.0
2,2021015996,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,174343,712 INSPIRATION BLVD,MADISON,TN,37115,UNIT 712 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1438Sf single family residence wi...,8.0
3,2021015990,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,174343,732 INSPIRATION BLVD 2,MADISON,TN,37115,UNIT 732 UNIT 2 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1438Sf single family residence wi...,8.0
4,2021015980,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,216535,732 INSPIRATION BLVD 6,MADISON,TN,37115,UNIT 732 UNIT 6 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1786Sf single family residence wi...,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13018,2020009574,Building Residential - New,Single Family Residence,2/12/2020,2/21/2020,202770,2396 UNA ANTIOCH PIKE,ANTIOCH,TN,37013,LOT 4 2410 UNA ANTIOCH PIKE,"DESTINY ENTERPRISES, LLC",TO CONSTRUCT A SINGLE-FAMILY RESIDENCE WITH 18...,28.0
13019,2019069930,Building Residential - New,Single Family Residence,11/14/2019,11/20/2019,190379,613 ANNEX AVE,NASHVILLE,TN,37209,UNIT A 613 ANNEX AVENUE TOWNHOMES,TIMO6 LLC,"parent parcel is map 90-8 parcel 31, is zoned ...",20.0
13020,2020040538,Building Residential - New,Single Family Residence,6/30/2020,9/8/2020,2442157,4809 POST RD,NASHVILLE,TN,37205,LOT 78 HILL PLACE REV,"Castle Contractors, LLC",New Single Family Residence on Existing Reside...,23.0
13021,2020079583,Building Residential - New,Single Family Residence,12/22/2020,2/4/2021,230356,1622B CAHAL AVE,NASHVILLE,TN,37206,UNIT 1622B 1622 CAHAL AVENUE,"APS CONTRACTORS, LLC","parent parcel is map 72-14 parcel 294, is zone...",7.0
13022,2019035453,Building Residential - New,Single Family Residence,6/14/2019,6/27/2019,563250,814 WILSON BLVD,NASHVILLE,TN,37215,PT LOT 6 & 7 BLK K W. M. CANTRELL SUB,H R PROPERTIES OF TN LLC,to construct a single family residence with 50...,24.0

In [39]:
#residential_permits_dropped[residential_permits_dropped['zip'].int.contains('27218','3720','37202')]

In [40]:
#residential_permits_dropped = residential_permits_dropped[''].isin([residential_permits_dropped])
#residential_permits_dropped = residential_permits_dropped[~residential_permits_dropped]
#residential_permits_dropped

In [41]:
#residential_permits_dropped = residential_permits_dropped.drop(residential_permits_dropped.iloc["27218"],axis = 0,index=9)

In [42]:
#index_zips = residential_permits_dropped[residential_permits_dropped['zip'].int.contains('27218','37127','37202')]

In [43]:
#residential_permits_dropped[residential_permits_dropped['zip']=='27218','37127','37202'].index.values

In [44]:
#residential_permits_dropped['council_district'] = residential_permits_dropped['council_district'].astype(int)

In [45]:
#residential_permits_dropped['council_district'] = residential_permits_dropped['council_district'].str.replace('', '$')

In [46]:
#residential_permits_dropped[residential_permits_dropped['zip'].int.contains('37214')]

In [47]:
#residential_permits_dropped.dtypes

In [48]:
#locale.setlocale(locale.LC_ALL, '')

# If you'd like groupings - set grouping to True, else set it to false or leave it out completely
#print(locale.residential_permits_dropped('construction_cost', grouping=false))
#print(locale.residential_permits_dropped('construction_cost'))

In [49]:
#babel.numbers.format_currency(['construction_cost'], "USD", locale='en_US')

In [50]:
#zips_to_drop = residential_permits_dropped[(residential_permits_dropped['zip'] == '27218') or (residential_permits_dropped['zip'] == '37127')].index
  
# drop these row indexes
# from dataFrame
#residential_permits_dropped.drop(zips_to_drop, inplace = True)

In [51]:
#zips_to_drop = ['27218','37127','37202']
#residential_permits_dropped = residential_permits_dropped[residential_permits_dropped['zip'].isin(zips_to_drop)]

#residential_permits_dropped.zip.drop(zips_to_drop, inplace = True)

In [52]:
residential_permits_dropped['zip'].value_counts()

37013    2248
37209    1976
37207    1143
37208     903
37206     769
37076     652
37135     466
37138     464
37216     411
37211     396
37205     338
37215     327
37203     325
37221     320
37115     308
37204     279
37027     253
37218     250
37210     249
37212     247
37214     226
37217     167
37080     115
37072      72
37189      48
37220      42
37122       7
37064       7
37143       6
37015       6
37127       1
37202       1
27218       1
Name: zip, dtype: int64

In [53]:
#residential_permits_dropped.drop(labels = ['27218','37127','37202'], axis=0, columns='zip', inplace=True)

In [54]:
zips = residential_permits_dropped.zip.isin(['27218','37127','37202'])

In [55]:
residential_permits_dropped = residential_permits_dropped[residential_permits_dropped.zip != 27218]
residential_permits_dropped = residential_permits_dropped[residential_permits_dropped.zip != 37127]
residential_permits_dropped = residential_permits_dropped[residential_permits_dropped.zip != 37202]

In [56]:
residential_permits_dropped['zip'].value_counts()

37013    2248
37209    1976
37207    1143
37208     903
37206     769
37076     652
37135     466
37138     464
37216     411
37211     396
37205     338
37215     327
37203     325
37221     320
37115     308
37204     279
37027     253
37218     250
37210     249
37212     247
37214     226
37217     167
37080     115
37072      72
37189      48
37220      42
37064       7
37122       7
37015       6
37143       6
Name: zip, dtype: int64

In [57]:
demographics_nash

Unnamed: 0_level_0,zipcode,Total:,Male:,Under 5 years,5 to 9 years,10 to 14 years,15 to 17 years,18 and 19 years,20 years,21 years,...,50 to 54 years,55 to 59 years,60 and 61 years,62 to 64 years,65 and 66 years,67 to 69 years,70 to 74 years,75 to 79 years,80 to 84 years,85 years and over
0,United States,324697795,159886919,10112614,10276829,10708022,6429069,4411135,2352092,2303286,...,10850737,11143260,4370261,6096664,3743900,5151607,6843745,4929902,3525274,4070765
1,Tennessee,6709356,3273278,208598,209037,219974,131597,86975,47118,46308,...,229902,237175,91565,130200,78823,112465,152048,106536,74070,76559
2,37013,97939,47658,4550,3786,3656,1727,1107,210,620,...,2899,2785,1236,1286,871,757,1019,571,315,233
3,37015,17665,9112,527,681,604,371,203,111,27,...,752,825,185,331,280,266,480,256,212,110
4,37027,56117,27888,1561,2093,2511,1771,673,179,263,...,2043,2311,770,1086,786,892,1145,748,538,280
5,37062,12185,5990,232,349,536,362,251,171,67,...,440,391,182,247,122,191,197,217,106,50
6,37064,58937,27951,1803,1838,2229,1232,790,475,210,...,2232,2365,998,1166,798,731,1279,816,590,769
7,37072,31492,15327,881,1131,950,529,301,195,312,...,1419,1283,594,379,403,668,814,596,333,478
8,37073,14785,7373,440,697,569,315,272,76,0,...,528,479,160,321,134,149,339,290,120,130
9,37075,65986,31603,2188,2046,2242,1619,819,184,478,...,2466,2288,725,1406,843,1018,1398,874,663,725
10,37076,40161,19600,1457,1273,1063,543,307,131,210,...,1200,1380,704,551,400,484,850,477,524,296
11,37080,7394,3703,175,110,163,85,63,17,6,...,324,490,73,162,56,192,135,115,64,81
12,37082,6073,3013,131,162,155,170,132,91,12,...,187,301,101,186,82,68,73,84,66,35
13,37086,34429,17045,1696,1296,1640,955,407,207,203,...,1189,897,311,482,310,240,311,205,131,51
14,37115,40343,19376,1486,1509,1311,577,368,227,271,...,1264,1362,553,657,497,691,741,405,484,444
15,37122,58323,29256,2071,2177,2445,1295,609,256,331,...,2020,2011,705,1138,772,976,1251,654,464,289
16,37135,14256,6919,627,536,553,294,202,54,106,...,388,414,170,285,95,111,148,130,26,59
17,37138,23784,11320,609,476,900,513,323,192,42,...,964,905,434,403,299,602,438,316,231,193
18,37143,4167,2050,127,96,113,114,47,24,30,...,260,115,69,30,32,65,106,66,59,21
19,37189,4016,1642,104,46,142,54,16,0,0,...,159,177,83,79,87,47,134,27,47,54
20,37201,1619,1245,0,0,30,0,94,14,72,...,22,38,0,86,34,0,0,0,0,0
21,37203,15091,7412,245,206,60,110,149,82,211,...,278,334,65,147,127,79,122,110,49,39
22,37204,15452,6908,634,272,256,127,434,172,108,...,423,361,177,193,126,164,188,144,54,75
23,37205,23790,10824,484,528,475,245,176,155,118,...,768,1018,409,497,363,578,650,452,437,741
24,37206,26382,12473,844,835,664,365,387,200,113,...,701,751,223,383,172,172,357,228,164,112
25,37207,39544,17866,1600,1433,1368,762,517,80,105,...,1587,1481,442,598,344,601,636,531,343,429
26,37208,18011,7917,456,242,797,350,247,207,93,...,515,481,242,328,249,248,186,99,133,150
27,37209,38664,18251,1037,1122,1040,456,494,206,435,...,868,1000,246,585,236,400,423,419,233,223
28,37210,17248,8731,934,497,615,200,364,162,212,...,337,579,250,177,110,183,231,202,158,196
29,37211,75955,39340,2821,2268,1998,1424,594,632,604,...,1684,2522,711,751,642,982,894,663,555,623
30,37212,20803,9757,375,226,323,332,1424,579,468,...,354,446,220,157,179,103,188,101,80,232
31,37213,95,86,0,0,0,10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,37214,30528,14968,683,901,929,431,294,58,136,...,1206,1242,234,545,257,413,507,552,298,420
33,37215,22379,9989,607,534,460,253,179,33,165,...,779,848,460,427,323,351,698,520,351,584
34,37216,17848,8877,435,421,240,190,242,17,60,...,475,725,183,431,202,276,243,183,198,205
35,37217,30146,15018,1348,1035,704,487,432,102,136,...,860,862,445,420,269,551,265,291,149,53
36,37218,15721,7083,324,462,441,391,166,26,55,...,605,454,333,291,305,366,385,352,178,183
37,37219,1154,737,0,0,0,0,0,0,0,...,170,0,0,70,0,39,0,0,0,0
38,37220,5880,2994,315,283,177,77,20,0,0,...,255,231,138,148,47,80,78,141,79,128
39,37221,41017,19437,1508,1354,1002,730,294,111,104,...,1557,1871,468,921,591,704,903,815,494,362
40,37228,1615,708,0,0,0,0,28,16,4,...,95,47,17,0,46,121,31,17,21,15
41,37240,796,332,0,0,0,0,181,108,43,...,0,0,0,0,0,0,0,0,0,0
42,37243,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,37246,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
del demographics_nash['Under 5 years']
#del demographics_nash['5 to 9 years']
#del demographics_nash['10 to 14 years']
#del demographics_nash['15 to 17 years']

In [59]:
del demographics_nash['5 to 9 years']

In [60]:
del demographics_nash['10 to 14 years']

In [61]:
del demographics_nash['15 to 17 years']

In [62]:
demographics_nash.rename(columns = {"zipcode": "zip"}, 
          inplace = True)

In [63]:
zip_codes = demographics_nash.zip.isin(['United States', 'Tennessee'])

In [64]:
demographics_nash = demographics_nash[demographics_nash.zip != 'United States']
demographics_nash = demographics_nash[demographics_nash.zip != 'Tennessee']

In [65]:
demographics_nash['zip'] = demographics_nash['zip'].astype(int)

In [66]:
demographics_nash.head()

Unnamed: 0_level_0,zip,Total:,Male:,18 and 19 years,20 years,21 years,22 to 24 years,25 to 29 years,30 to 34 years,35 to 39 years,...,50 to 54 years,55 to 59 years,60 and 61 years,62 to 64 years,65 and 66 years,67 to 69 years,70 to 74 years,75 to 79 years,80 to 84 years,85 years and over
2,37013,97939,47658,1107,210,620,2842,4329,4366,3969,...,2899,2785,1236,1286,871,757,1019,571,315,233
3,37015,17665,9112,203,111,27,393,621,639,591,...,752,825,185,331,280,266,480,256,212,110
4,37027,56117,27888,673,179,263,1177,1154,1012,1428,...,2043,2311,770,1086,786,892,1145,748,538,280
5,37062,12185,5990,251,171,67,293,342,196,386,...,440,391,182,247,122,191,197,217,106,50
6,37064,58937,27951,790,475,210,743,1169,1501,2224,...,2232,2365,998,1166,798,731,1279,816,590,769

In [67]:
#residential_nash = pd.merge(residential_permits_dropped, demographics_nash, on='zip')

In [68]:
residential_nash_clean = residential_permits_dropped[residential_permits_dropped['permit_subtype_description'] == 'Single Family Residence']

In [69]:
residential_nash_clean = residential_nash_clean.reset_index()

In [70]:
residential_nash_clean = residential_nash_clean.drop(columns=['index'])

In [71]:
pd.set_option("display.max_columns", None)
residential_nash_clean

,permit#,permit_type_description,permit_subtype_description,date_entered,date_issued,construction_cost,address,city,state,zip,subdivision/lot,contact,purpose,council_district
0,2021015956,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,219687,732 INSPIRATION BLVD 1,MADISON,TN,37115,UNIT 732 UNIT 1 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1812Sf single family residence wi...,8.0
1,2021015968,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,219687,718 INSPIRATION BLVD,MADISON,TN,37115,UNIT 718 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1812Sf single family residence wi...,8.0
2,2021015996,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,174343,712 INSPIRATION BLVD,MADISON,TN,37115,UNIT 712 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1438Sf single family residence wi...,8.0
3,2021015990,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,174343,732 INSPIRATION BLVD 2,MADISON,TN,37115,UNIT 732 UNIT 2 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1438Sf single family residence wi...,8.0
4,2021015980,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,216535,732 INSPIRATION BLVD 6,MADISON,TN,37115,UNIT 732 UNIT 6 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1786Sf single family residence wi...,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9173,2020009574,Building Residential - New,Single Family Residence,2/12/2020,2/21/2020,202770,2396 UNA ANTIOCH PIKE,ANTIOCH,TN,37013,LOT 4 2410 UNA ANTIOCH PIKE,"DESTINY ENTERPRISES, LLC",TO CONSTRUCT A SINGLE-FAMILY RESIDENCE WITH 18...,28.0
9174,2019069930,Building Residential - New,Single Family Residence,11/14/2019,11/20/2019,190379,613 ANNEX AVE,NASHVILLE,TN,37209,UNIT A 613 ANNEX AVENUE TOWNHOMES,TIMO6 LLC,"parent parcel is map 90-8 parcel 31, is zoned ...",20.0
9175,2020040538,Building Residential - New,Single Family Residence,6/30/2020,9/8/2020,2442157,4809 POST RD,NASHVILLE,TN,37205,LOT 78 HILL PLACE REV,"Castle Contractors, LLC",New Single Family Residence on Existing Reside...,23.0
9176,2020079583,Building Residential - New,Single Family Residence,12/22/2020,2/4/2021,230356,1622B CAHAL AVE,NASHVILLE,TN,37206,UNIT 1622B 1622 CAHAL AVENUE,"APS CONTRACTORS, LLC","parent parcel is map 72-14 parcel 294, is zone...",7.0
9177,2019035453,Building Residential - New,Single Family Residence,6/14/2019,6/27/2019,563250,814 WILSON BLVD,NASHVILLE,TN,37215,PT LOT 6 & 7 BLK K W. M. CANTRELL SUB,H R PROPERTIES OF TN LLC,to construct a single family residence with 50...,24.0

In [72]:
#AVG Construction Cost
residential_nash_clean['construction_cost'].mean()

250879.72412290258

In [73]:
residential_nash_clean['construction_cost'].min()

1

In [74]:
residential_nash_clean['construction_cost'].max()

3436000

In [75]:
#residential_nash_clean['council_district'].value_counts()

In [76]:
council_district_count = residential_nash_clean.council_district.value_counts().reset_index()
council_district_count.columns = ['council_district','permits_issued']
council_district_count = council_district_count.sort_values("council_district", ascending = True)

In [77]:
council_district_count
council_district_count = council_district_count.reset_index()

In [78]:
council_district_count
council_district_count = council_district_count.drop(columns=['index'])

In [79]:
council_district_count

    council_district  permits_issued
0                1.0             172
1                2.0             420
2                3.0             249
3                4.0             144
4                5.0             550
5                6.0             252
6                7.0             321
7                8.0             132
8                9.0              88
9               10.0              35
10              11.0             331
11              12.0             131
12              13.0              12
13              14.0             452
14              15.0              46
15              16.0              74
16              17.0             465
17              18.0              43
18              19.0             274
19              20.0             944
20              21.0             575
21              22.0             156
22              23.0             105
23              24.0             256
24              25.0             309
25              26.0              28
26              27.0              10
27              28.0              14
28              29.0             114
29              30.0              40
30              31.0             480
31              32.0             329
32              33.0            1316
33              34.0             145
34              35.0             165

In [80]:
#council_zip = pd.merge(residential_nash_clean, demographics_nash, on='zip')

In [81]:
#council_zip.head()

In [82]:
#council_zip[['zip','council_district']].

In [83]:
#council_zip = residential_nash_clean[['zip','council_district']]

In [84]:
#council_zip = council_zip.value_counts().reset_index()

In [85]:
#council_zip[['zip', 'council_district']]

In [86]:
#council_dem = pd.merge(council_zip, demographics_nash, on='zip')

In [87]:
#council_dem

In [88]:
residential_nash_clean

,permit#,permit_type_description,permit_subtype_description,date_entered,date_issued,construction_cost,address,city,state,zip,subdivision/lot,contact,purpose,council_district
0,2021015956,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,219687,732 INSPIRATION BLVD 1,MADISON,TN,37115,UNIT 732 UNIT 1 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1812Sf single family residence wi...,8.0
1,2021015968,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,219687,718 INSPIRATION BLVD,MADISON,TN,37115,UNIT 718 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1812Sf single family residence wi...,8.0
2,2021015996,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,174343,712 INSPIRATION BLVD,MADISON,TN,37115,UNIT 712 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1438Sf single family residence wi...,8.0
3,2021015990,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,174343,732 INSPIRATION BLVD 2,MADISON,TN,37115,UNIT 732 UNIT 2 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1438Sf single family residence wi...,8.0
4,2021015980,Building Residential - New,Single Family Residence,3/17/2021,5/5/2021,216535,732 INSPIRATION BLVD 6,MADISON,TN,37115,UNIT 732 UNIT 6 THE BROWNSTONES AT CREATIVE WAY,"WIN BUILDING GROUP, LLC",to construct 1786Sf single family residence wi...,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9173,2020009574,Building Residential - New,Single Family Residence,2/12/2020,2/21/2020,202770,2396 UNA ANTIOCH PIKE,ANTIOCH,TN,37013,LOT 4 2410 UNA ANTIOCH PIKE,"DESTINY ENTERPRISES, LLC",TO CONSTRUCT A SINGLE-FAMILY RESIDENCE WITH 18...,28.0
9174,2019069930,Building Residential - New,Single Family Residence,11/14/2019,11/20/2019,190379,613 ANNEX AVE,NASHVILLE,TN,37209,UNIT A 613 ANNEX AVENUE TOWNHOMES,TIMO6 LLC,"parent parcel is map 90-8 parcel 31, is zoned ...",20.0
9175,2020040538,Building Residential - New,Single Family Residence,6/30/2020,9/8/2020,2442157,4809 POST RD,NASHVILLE,TN,37205,LOT 78 HILL PLACE REV,"Castle Contractors, LLC",New Single Family Residence on Existing Reside...,23.0
9176,2020079583,Building Residential - New,Single Family Residence,12/22/2020,2/4/2021,230356,1622B CAHAL AVE,NASHVILLE,TN,37206,UNIT 1622B 1622 CAHAL AVENUE,"APS CONTRACTORS, LLC","parent parcel is map 72-14 parcel 294, is zone...",7.0
9177,2019035453,Building Residential - New,Single Family Residence,6/14/2019,6/27/2019,563250,814 WILSON BLVD,NASHVILLE,TN,37215,PT LOT 6 & 7 BLK K W. M. CANTRELL SUB,H R PROPERTIES OF TN LLC,to construct a single family residence with 50...,24.0

In [94]:
zip_count = residential_nash_clean.zip.value_counts().reset_index()
zip_count.columns = ['zip','permits_issued']
zip_count = zip_count.sort_values("permits_issued", ascending = False)

In [95]:
zip_count

      zip  permits_issued
0   37013            1577
1   37209            1382
2   37207             804
3   37208             686
4   37076             530
5   37206             462
6   37135             400
7   37138             310
8   37216             304
9   37211             302
10  37221             284
11  37215             275
12  37027             211
13  37204             211
14  37203             203
15  37205             193
16  37210             183
17  37115             180
18  37218             165
19  37214             129
20  37217             103
21  37212              94
22  37080              88
23  37072              36
24  37189              33
25  37220              17
26  37143               5
27  37064               5
28  37015               3
29  37122               3

In [96]:
dem_zip = pd.merge(zip_count, demographics_nash, on='zip')

In [97]:
dem_zip

,zip,permits_issued,Total:,Male:,18 and 19 years,20 years,21 years,22 to 24 years,25 to 29 years,30 to 34 years,35 to 39 years,40 to 44 years,45 to 49 years,50 to 54 years,55 to 59 years,60 and 61 years,62 to 64 years,65 and 66 years,67 to 69 years,70 to 74 years,75 to 79 years,80 to 84 years,85 years and over,Female:,18 and 19 years,20 years,21 years,22 to 24 years,25 to 29 years,30 to 34 years,35 to 39 years,40 to 44 years,45 to 49 years,50 to 54 years,55 to 59 years,60 and 61 years,62 to 64 years,65 and 66 years,67 to 69 years,70 to 74 years,75 to 79 years,80 to 84 years,85 years and over
0,37013,1577,97939,47658,1107,210,620,2842,4329,4366,3969,3337,3512,2778,2260,774,913,764,532,829,401,293,103,50281,1243,318,533,2226,4877,5966,4434,2978,2968,2899,2785,1236,1286,871,757,1019,571,315,233
1,37209,1382,38664,18251,494,206,435,958,2942,2380,1517,787,877,1128,933,376,445,260,257,225,150,151,75,20413,1003,331,203,1892,3463,2310,1580,854,798,868,1000,246,585,236,400,423,419,233,223
2,37207,804,39544,17866,517,80,105,616,1586,1465,1223,1146,1201,1025,1132,355,504,395,351,476,260,179,87,21678,280,156,179,1077,1782,1466,1516,1335,1356,1587,1481,442,598,344,601,636,531,343,429
3,37208,686,18011,7917,247,207,93,440,919,834,644,418,446,300,321,206,267,105,151,157,169,77,71,10094,359,284,194,552,1198,958,768,494,739,515,481,242,328,249,248,186,99,133,150
4,37076,530,40161,19600,307,131,210,919,1801,1876,1408,1645,1211,1240,1263,562,608,193,520,537,333,295,205,20561,218,85,181,1140,1855,1890,1823,1340,1317,1200,1380,704,551,400,484,850,477,524,296
5,37206,462,26382,12473,387,200,113,382,1520,1460,1256,884,800,662,668,165,247,249,215,184,279,43,51,13909,100,156,147,505,2035,1903,1246,822,789,701,751,223,383,172,172,357,228,164,112
6,37135,400,14256,6919,202,54,106,258,237,320,569,693,548,624,407,135,170,123,161,146,81,47,28,7337,299,0,133,113,194,494,598,643,703,388,414,170,285,95,111,148,130,26,59
7,37138,310,23784,11320,323,192,42,169,507,702,888,798,760,988,696,446,592,235,589,357,269,155,114,12464,102,85,49,267,669,749,1114,853,741,964,905,434,403,299,602,438,316,231,193
8,37216,304,17848,8877,242,17,60,316,1230,883,973,572,642,659,477,198,318,187,224,217,179,126,71,8971,79,83,82,300,1026,1108,783,500,467,475,725,183,431,202,276,243,183,198,205
9,37211,302,75955,39340,594,632,604,2159,4407,5035,3275,2643,2304,1822,2324,1066,765,532,810,886,454,261,256,36615,624,266,335,1758,4619,3458,2888,2139,2146,1684,2522,711,751,642,982,894,663,555,623
10,37221,284,41017,19437,294,111,104,874,1668,1488,1331,1239,1395,1388,1157,524,640,427,411,781,449,321,241,21580,223,194,302,646,1818,1756,1334,1326,1649,1557,1871,468,921,591,704,903,815,494,362
11,37215,275,22379,9989,179,33,165,410,458,570,507,594,697,892,675,261,386,299,365,592,419,350,283,12390,67,205,129,586,894,795,699,688,735,779,848,460,427,323,351,698,520,351,584
12,37027,211,56117,27888,673,179,263,1177,1154,1012,1428,2181,2122,1916,2070,829,1156,459,1046,1062,604,302,319,28229,507,210,226,1057,879,1264,1769,1958,2496,2043,2311,770,1086,786,892,1145,748,538,280
13,37204,211,15452,6908,434,172,108,349,968,708,553,455,332,319,392,153,153,140,87,141,64,32,59,8544,618,266,309,481,1253,893,548,391,359,423,361,177,193,126,164,188,144,54,75
14,37203,203,15091,7412,149,82,211,535,1500,1285,377,459,198,465,513,227,195,128,211,141,60,38,17,7679,63,131,222,1027,1976,779,663,300,341,278,334,65,147,127,79,122,110,49,39
15,37205,193,23790,10824,176,155,118,249,949,763,612,709,631,780,843,364,446,278,318,626,420,280,375,12966,167,78,123,771,1135,688,688,652,694,768,1018,409,497,363,578,650,452,437,741
16,37210,183,17248,8731,364,162,212,500,873,720,586,496,355,703,480,203,220,143,99,193,44,97,35,8517,315,131,174,398,1198,697,600,344,386,337,579,250,177,110,183,231,202,158,196
17,37115,180,40343,19376,368,227,271,602,1709,1812,1047,1576,831,1416,1385,410,812,350,429,577,285,212,174,20967,402,157,249,890,1569,1503,1437,1375,1426,1264,1362,553,657,497,691,741,405,484,444
18,37218,165,15721,7083,166,26,55,160,452,583,394,515,317,475,471,149,447,275,169,318,291,118,84,8638,143,26,30,243,630,504,567,674,653,605,454,333,291,305,366,385,352,178,183
19,37214,129,30528,14968,294,58,136,664,1772,1340,1440,1052,1042,996,893,246,435,359,322,415,157,240,163,15560,254,88,67,492,1632,1502,1358,1014,994,1206,1242,234,545,257,413,507,552,298,420
20,37217,103,30146,15018,432,102,136,533,2017,1169,1348,1085,1311,757,723,325,312,129,308,356,297,47,57,15128,217,186,124,903,1567,1583,1176,898,950,860,862,445,420,269,551,265,291,149,53
21,37212,94,20803,9757,1424,579,468,811,1140,924,450,548,443,202,408,130,316,142,191,174,66,53,32,11046,1855,768,713,1142,1316,742,451,359,406,354,446,220,157,179,103,188,101,80,232
22,37080,88,7394,3703,63,17,6,141,263,110,235,205,394,235,370,121,266,180,202,93,159,69,41,3691,129,29,34,90,230,166,86,187,339,324,490,73,162,56,192,135,115,64,81
23,37072,36,31492,15327,301,195,312,497,968,1468,795,584,1091,867,963,582,662,521,638,570,339,224,259,16165,392,172,57,304,1454,1118,871,817,921,1419,1283,594,379,403,668,814,596,333,478
24,37189,33,4016,1642,16,0,0,13,96,91,218,117,84,66,93,104,72,68,28,111,69,50,0,2374,22,11,0,38,256,141,293,171,117,159,177,83,79,87,47,134,27,47,54
25,37220,17,5880,2994,20,0,0,22,66,210,257,137,111,275,212,131,111,114,119,99,125,102,31,2886,99,0,0,76,45,194,311,160,143,255,231,138,148,47,80,78,141,79,128
26,37143,5,4167,2050,47,24,30,67,165,90,171,128,106,261,162,30,52,49,48,93,46,31,0,2117,55,40,7,43,119,82,134,181,173,260,115,69,30,32,65,106,66,59,21
27,37064,5,58937,27951,790,475,210,743,1169,1501,2224,1824,2122,2099,1980,823,1126,684,802,943,610,431,293,30986,623,319,149,926,1724,1714,1867,2181,2353,2232,2365,998,1166,798,731,1279,816,590,769
28,37015,3,17665,9112,203,111,27,393,621,639,591,445,571,629,712,349,319,163,316,326,296,133,85,8553,96,105,95,229,510,574,669,470,475,752,825,185,331,280,266,480,256,212,110
29,37122,3,58323,29256,609,256,331,801,1416,1585,1958,2389,2525,1898,1951,800,778,749,897,1065,812,264,184,29067,526,267,126,818,1620,1925,1965,2373,2349,2020,2011,705,1138,772,976,1251,654,464,289

In [98]:
city_count = residential_nash_clean.city.value_counts().reset_index()
city_count.columns = ['city','permits_issued']
city_count = city_count.sort_values("permits_issued", ascending = False)

In [99]:
city_count

              city  permits_issued
0        NASHVILLE            5806
1          ANTIOCH            1578
2        HERMITAGE             520
3      NOLENSVILLE             401
4      OLD HICKORY             308
5        BRENTWOOD             211
6          MADISON             180
7          JOELTON              88
8   GOODLETTSVILLE              36
9     WHITES CREEK              33
10        FRANKLIN               5
11          PEGRAM               5
12    MOUNT JULIET               3
13    ASHLAND CITY               3
14        HERMTAGE               1